{% extends "views/shared/layout.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}
  <section>
    <h1>{{ name }}</h1>
    <p>{{ tagline }}</p>
    <p>{{ intro }}</p>

    <div>
      {% for link in ctaLinks %}
        <a href="{{ link.href }}" class="btn">
          {{ link.label }}
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}